.wrapper {
  background-color: white;
  height: auto;
  border-radius: 40px;
  padding: 3em;
  margin-bottom: 2em;
}

.actorCard {
  margin-bottom: 2em;
  background-color: white;
  border-radius: 40px;
  height: auto;
  padding-bottom: 3em;
}

.actorImg {
  border-radius: 40px 40px 0 0;
}
