.containerBg {
  background: url("/bg.png");
  background-size: contain;
  background-color: rgba(138, 138, 138, 0.849);
}

.container {
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
}

.wrapper {
  padding: 0 2em 2em 2em;
}
