.header {
  display: flex;
  padding: 1.5vw 2.5vw;
}

.logoCont {
  display: flex;
}

.logo {
  width: 2.7vw;
  height: 3vw;
  margin-right: 1vw;
}

.logoText {
  margin-top: -1vh;
  font-size: 1vw;
  font-weight: 700;
  color: #676874;
  display: flex;
  justify-content: center;
  align-items: center;
}
